<!doctype html>
{% extends 'catalog/base.html' %}
{% block content %}
{% load my_tags %}
<p>
    <a class="btn btn-primary" href="{% url 'catalog:product_create' %}">Создать продукт</a>
    <a class="btn btn-primary" href="{% url 'catalog:category_list' %}">Категории</a>
</p>
<div class="row text-center">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for product in object_list %}
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ product.product_name }}</h4>
                </div>
                <div class="card-body">
                    <img class="card-img-top" src="{{ product.image | media_filter }}">
                    <h4 class="card-title pricing-card-title">{{ product.price }} руб.</h4>
                    <p>Активная версия: {{ product.active_version }}</p>
                    <p>Номер версии: {{ product.active_version_number }}</p>
                    <p>Создан: {{ product.user }}</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="btn-group" role="group" aria-label="Группа маленьких кнопок">
                                <a href="{% url 'catalog:product_detail' product.pk %}" type="button"
                                   class="btn btn-danger">Посмотреть</a>
                                {% if user == product.user or perms.catalog.can_cancel_puplication and perms.catalog.can_change_desription and perms.catalog.can_change_category %}
                                <a href="{% url 'catalog:product_update' product.pk %}" type="button"
                                   class="btn btn-warning">Изменить</a>
                                <a href="{% url 'catalog:product_delete' product.pk %}" type="button"
                                   class="btn btn-success">Удалить</a>
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}